/* Reset basique pour supprimer les marges/paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps du document */
body {
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #252525; 
    color: #dadada;
    line-height: 1.6;
    padding: 20px;
}

header{

}

.part1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.part1 section {
    margin: 5px;
    padding: 10px;
    background-color: #2a2a2a; 
    text-align: left ;
    margin: 0.5rem;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border: 1px solid #212121;
}

.part1-1 { grid-area: 1 / 1 / 2 / 2; }
.parti1-2 { grid-area: 1 / 2 / 2 / 3; }
.parti1-3 { grid-area: 1 / 3 / 2 / 4; }

ul {list-style: none;}

ul li {
    border-radius: 15px;
    border: 1px solid #212121;
    padding: 10px;   /* ⭐ espace entre le texte et la bordure */
    margin-bottom: 10px;
}

.part2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;  
}

.part2 section {
    margin: 5px;
    padding: 10px;
    background-color: #2a2a2a; 
    text-align: left ;
    margin: 0.5rem;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border: 1px solid #212121;
}

.part2-1 { grid-area: 1 / 1 / 2 / 2; }
.part2-2 { grid-area: 1 / 2 / 2 / 3; }

.part3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.part3 section {
    margin: 5px;
    padding: 10px;
    background-color: #2a2a2a; 
    text-align: left ;
    margin: 0.5rem;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border: 1px solid #212121;
}

.part3-1 { grid-area: 1 / 1 / 2 / 3; }
.part3-2 { grid-area: 1 / 3 / 2 / 4; }