/* Reset basique pour supprimer les marges/paddings par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #252525;
  color: #dadada;
  line-height: 1.6;
  padding: 20px;
}

header {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(135deg, #2a2a2a);
  border-radius: 15px;
}

h1 {
  font-size: 2.8rem;
}

.part1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.part2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.part3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.part4 {
  margin-top: 20px;
  width: 100%;
}

.part1 section,
.part2 section,
.part3 section,
.part4 section {
  padding: 10px;
  background-color: #2a2a2a;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #212121;
}

ul {
  list-style: none;
}

ul li {
  border-radius: 15px;
  border: 1px solid #212121;
  padding: 10px;
  margin-bottom: 10px;
}

.process-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: #2a2a2a;
  color: #dadada;
}

.process-table caption {
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.process-table th,
.process-table td {
  border: 1px solid #212121;
  padding: 8px 12px;
  text-align: center;
}

.process-table th:nth-child(1),
.process-table td:nth-child(1) {
  width: 10%;
}

.process-table th:nth-child(2),
.process-table td:nth-child(2) {
  width: 50%;
}

.process-table th:nth-child(3),
.process-table td:nth-child(3) {
  width: 40%;
}

.process-table tr:nth-child(even) {
  background-color: #252525;
}

.process-table tr:hover {
  background-color: #3a3a3a;
}

.process-table td {
  border-radius: 8px;
}

.ram-progress-container,
.cpu-progress-container {
  width: 100%;
  max-width: 350px;
  height: 22px;
  background-color: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid #444;
  margin-top: 5px;
}

.ram-progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #4caf50, #8bc34a);
  width: 0%;
  transition: width 0.6s ease-out;
  border-radius: 10px;
}

.cpu-progress-bar {
  height: 100%;
  background: linear-gradient(90deg, #ff5722, #ff9800);
  width: 0%;
  transition: width 0.6s ease-out;
  border-radius: 10px;
}
